/* Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	margin: 0;
	padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	box-sizing: border-box;
}

/* style */

/* html {
	height: 100%;
} */

body {
	margin: 0;
	padding: 0;
	font-family: "Merriweather", serif;
	background: #32dbf5;
}

.App-header {
	margin: 20px;
	text-align: center;
	color: white;
	fill: currentColor;
}

.App-header h1 {
	font-size: 50px;
}

.App-header svg {
	margin: 0;
	padding: 0;
	height: 80px;
	width: auto;
}

#description-text {
	margin-top: 10px;
	font-style: italic;
	font-size: 46px;
	color: white;
	text-align: center;
	max-width: 600px;
	margin: 60px auto 20px;
}

h4 {
	margin-top: 10px;
	margin-bottom: 30px;
	font-size: 22px;
	color: white;
	text-align: center;
}

.input-box {
	text-align: center;
}

.custom-dropdown {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin: 10px;
}

.custom-dropdown select {
	background-color: #32dbf5;
	color: #fff;
	font-size: 56px;
	padding: 0.5em;
	/* padding-right: 2.5em; */
	border: 0;
	margin: 0;
	border-radius: 3px;
	text-indent: 0.01px;
	text-overflow: "";
	-webkit-appearance: button; /* hide default arrow in chrome OSX */
}

.custom-dropdown::before,
.custom-dropdown::after {
	content: "";
	position: absolute;
	pointer-events: none;
}

.custom-dropdown::before {
	/*  Custom dropdown arrow cover */
	width: 2em;
	right: 0;
	top: 0;
	bottom: 0;
	border-radius: 0 3px 3px 0;
}

.custom-dropdown::after {
	/*  Custom dropdown arrow */
	content: "\25BC";
	height: 1em;
	font-size: 0.625em;
	line-height: 1;
	/* right: 1.2em; */
	top: 50%;
	margin-top: -0.5em;
}

.custom-dropdown select[disabled] {
	/* color: rgba(0, 0, 0, 0.3); */
}

.custom-dropdown select[disabled]::after {
	/* color: rgba(0, 0, 0, 0.1); */
}

.custom-dropdown::before {
	/* background-color: rgba(0, 0, 0, 0.15); */
}

.custom-dropdown::after {
	color: rgba(0, 0, 0, 0.4);
}

/* =========
fancy select
========= */

.typo,
.list a {
	font-size: 60px;
	font-weight: 700;
	font-family: "Playfair Display", sans-serif;
	color: white;
	text-decoration: none;
}
.typo option,
.list a option {
	font-size: 30px;
}

.transition {
	-webkit-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

body {
	text-align: center;
}

.wrapper {
	padding-top: 50px;
	height: 100vh;
	font-size: 60px;
}

.list {
	display: inline-block;
	position: relative;
	margin-left: 6px;
}
.list ul {
	text-align: left;
	position: absolute;
	padding: 0;
	top: 0;
	left: 0;
	display: none;
}
.list ul .active {
	display: block;
}
.list li {
	list-style: none;
}
.list li:first-child a {
	color: #7d40bf;
}
.list a {
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
	color: #7b00ff;
	position: relative;
}
.list a:after {
	position: absolute;
	content: "";
	height: 5px;
	width: 0;
	left: 0;
	background: #b066ff;
	bottom: 0;
	-webkit-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;
}
.list a:hover {
	cursor: pointer;
	color: #b066ff;
}
.list a:hover:after {
	width: 100%;
}

select {
	display: inline;
	border: 0;
	width: auto;
	margin-left: 10px;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	border-bottom: 2px solid #555;
	color: #7b00ff;
	-webkit-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
select:hover {
	cursor: pointer;
}
select option {
	border: 0;
	border-bottom: 1px solid #555;
	padding: 10px;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.placeholder {
	border-bottom: 4px solid;
	cursor: pointer;
	color: lightgrey;
}
.placeholder:hover {
	color: #888888;
}

.button {
	margin-left: 20px;
	padding: 10px;
	border: 0px;
	font-size: 20px;
	background-color: darkgray;
	font-style: italic;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: white;
}

.wikiText {
	padding-top: 60px;
}

p {
	padding: 15px 20px;
	line-height: 2em;
	font-size: 14px;
}

footer {
	position: fixed;
	font-family: "Work Sans", Arial, sans-serif;
	font-size: 14px;
	font-style: italic;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: white;
	bottom: 0;
	left: 30px;
	padding: 5px;
	background-color: darkgray;
}
footer a {
	color: white;
	text-decoration: none;
}

@media screen and (max-width: 500px) {
	.App-header {
		display: block;
		margin-top: 10px;
		margin-left: 2px;
	}

	.wikiText {
		margin-left: 10px;
	}
}
