/* Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	margin: 0;
	padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	box-sizing: border-box;
}

/* style */

body {
	margin: 0;
	padding: 0;
	font-family: "Merriweather", serif;
	background: #0bb1b9;
	text-align: center;
}

header {
	margin: 20px;
	text-align: center;
	color: white;
	fill: currentColor;
}

.App-header h1 {
	font-size: 36px;
}

.App-header svg {
	margin: 0;
	padding: 0;
	height: 40px;
	width: auto;
}

#description-text {
	margin-top: 10px;
	font-style: italic;
	font-size: 46px;
	color: white;
	text-align: center;
	max-width: 600px;
	margin: 60px auto 20px;
}

h4 {
	margin-top: 10px;
	margin-bottom: 30px;
	font-size: 22px;
	color: white;
	text-align: center;
}

.input-box {
	text-align: center;
}

/* =========
fancy select
========= */
/* inspired by this: https://codepen.io/afalchi82/pen/aNXjgb
adapted to react */

.typo,
.list a {
	font-size: 60px;
	font-weight: 700;
	font-family: "Roboto", sans-serif;
	color: white;
	text-decoration: none;
}
.typo option,
.list a option {
	font-size: 30px;
}

.wrapper {
	padding-top: 30px;
	font-size: 60px;
}

.list {
	display: inline-block;
	position: relative;
	margin-left: 6px;
}
.list ul {
	text-align: left;
	position: absolute;
	padding: 0;
	top: 0;
	left: 0;
	display: none;
}
.list ul .active {
	display: block;
}
.list li {
	list-style: none;
}

.list a {
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
	color: #d80afc;
	position: relative;
}
.list a:after {
	position: absolute;
	content: "";
	height: 5px;
	width: 0;
	left: 0;
	background: #ff7600;
	bottom: 0;
	-webkit-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;
}
.list a:hover {
	cursor: pointer;
	color: #ff7600;
}
.list a:hover:after {
	width: 100%;
}

select,
.button {
	display: inline;
	border: 0;
	width: auto;
	margin-left: 10px;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	border-bottom: 2px solid #555;
	color: #d80afc;
	-webkit-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
select:hover {
	cursor: pointer;
}
select option {
	border: 0;
	border-bottom: 1px solid #555;
	padding: 10px;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.placeholder {
	border-bottom: 4px solid;
	cursor: pointer;
	color: lightgrey;
}
.placeholder:hover,
.button:hover {
	color: #d80afc;
}

/* end fancy button */

.button {
	padding: 10px;
	border: 0;
	font-size: 40px;
	font-family: "Roboto", sans-serif;
	color: #0bb1b9;
	text-align: center;
	background: none;
}

.textbox {
	max-width: 800px;
	margin: 0 auto 35px;
	color: #333333;
}

p {
	padding: 15px 10px 15px 10px;
	line-height: 2em;
	font-size: 14px;
	font-size: 22px;
	line-height: 31px;
	text-align: left;
}

footer {
	position: fixed;
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	font-style: italic;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: white;
	bottom: 0;
	left: 60px;
	padding: 8px;
	background-color: darkgray;
}

footer a {
	color: white;
	text-decoration: none;
}

/* css transition group */

.text-appear {
	opacity: 0.01;
}

.text-appear.text-appear-active {
	opacity: 1;
	transition: opacity 1s ease-in;
}

/* mobile */

@media screen and (max-width: 500px) {
	footer {
		left: 0;
	}

	p {
		font-size: 18px;
	}

	.button {
		font-size: 22px;
		background-color: none;
	}

	.wrapper,
	.list a {
		font-size: 32px;
	}

	#description-text {
		font-size: 36px;
		margin-bottom: 54px;
	}
}
